[Unit]
Description=Servico Lemonade - Modulo Caipirinha

[Service]
Type=simple
Environment=LEMONADE_HOME=/opt/lemonade/docker-lemonade
Environment=CAIPIRINHA_HOME=/opt/lemonade/docker-lemonade/caipirinha
Environment=PYTHONPATH=/opt/lemonade/docker-lemonade/caipirinha
Environment=CAIPIRINHA_CONFIG=/opt/lemonade/docker-lemonade/config/caipirinha-config.yaml
WorkingDirectory=/opt/lemonade/docker-lemonade/caipirinha

ExecStartPre=/opt/lemonade/docker-lemonade/caipirinha/venv/bin/python ${CAIPIRINHA_HOME}/caipirinha/manage.py db upgrade
ExecStart=/opt/lemonade/docker-lemonade/caipirinha/venv/bin/python ${CAIPIRINHA_HOME}/caipirinha/runner/caipirinha_server.py -c ${CAIPIRINHA_CONFIG} 

[Install]
WantedBy=multi-user.target
