[Unit]
Description=Servico Lemonade - Modulo limonero

[Service]
Type=simple
Environment=LEMONADE_HOME=/opt/lemonade/docker-lemonade
Environment=LIMONERO_HOME=/opt/lemonade/docker-lemonade/limonero
Environment=PYTHONPATH=/opt/lemonade/docker-lemonade/limonero
Environment=LIMONERO_CONFIG=/opt/lemonade/docker-lemonade/config/limonero-config.yaml
Environment=SPARK_HOME=/opt/spark
WorkingDirectory=/opt/lemonade/docker-lemonade/limonero

ExecStartPre=/opt/lemonade/docker-lemonade/limonero/venv/bin/python ${LIMONERO_HOME}/limonero/manage.py db upgrade
ExecStart=/opt/lemonade/docker-lemonade/limonero/venv/bin/python ${LIMONERO_HOME}/limonero/runner/limonero_server.py -c ${LIMONERO_CONFIG} 

[Install]
WantedBy=multi-user.target
