[Unit]
Description=Servico Lemonade - Modulo Thorn

[Service]
Type=simple
Environment=LEMONADE_HOME=/opt/lemonade/docker-lemonade
Environment=THORN_HOME=/opt/lemonade/docker-lemonade/thorn
Environment=PYTHONPATH=/opt/lemonade/docker-lemonade/thorn
Environment=THORN_CONFIG=/opt/lemonade/docker-lemonade/P01/config/thorn-config.yaml
WorkingDirectory=/opt/lemonade/docker-lemonade/thorn

ExecStartPre=/opt/lemonade/docker-lemonade/thorn/venv/bin/python ${THORN_HOME}/thorn/manage.py db upgrade
ExecStart=/opt/lemonade/docker-lemonade/thorn/venv/bin/python ${THORN_HOME}/thorn/runner/thorn_server.py -c ${THORN_CONFIG} 

[Install]
WantedBy=multi-user.target
